<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorator="layout">

<div layout:fragment="content">

    <div class="page-header">
        <h1 th:text="#{captions.clients.page_heading}">Владельцы</h1>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span th:text="#{captions.clients.find_panel_heading}">Поиск владельцев</span>
                </div>
                <div class="panel-body">
                    <form id="filters" th:action="@{/clients/search}" class="form-inline pull-right" method="get">
                        <input id="page" th:value="${page.number}" type="hidden" name="page"/>
                        <input id="size" th:value="${page.size}" type="hidden" name="size"/>
                        <input id="selectClientId" type="hidden" name="id"/>
                        <div class="form-group">
                            <input id="search" type="text" th:value="${search}" name="search" class="form-control"
                                   th:placeholder="#{captions.search_field}"
                                   placeholder="Search"/>
                        </div>
                        <button type="submit" onclick="$('#page').val(0)" class="btn btn-default">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                        <a id="clearSearch" href="/clients/"
                           class="btn btn-default" th:classappend="${#strings.isEmpty(search)}?'hidden':''"><i
                                class="fa fa-times" style="color:#c9302c" aria-hidden="true"></i></a>
                    </form>

                    <table id="searchResult" class="table table-hover">
                        <thead>
                        <tr>
                            <th>№</th>
                            <th th:text="#{captions.fields.fullname}">Full Name</th>
                            <th th:text="#{captions.fields.passport}">Passport</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:onclick="'selectClient(' + ${client.id} + ')'" th:each="client, row :${page.content}">
                            <td th:text="${row.count} + ${page.number} * ${page.size}"></td>
                            <td th:text="${client.lastName} + ' ' + ${client.firstName} + ' ' + ${client.surName}"></td>
                            <td th:text="${client.passport}"></td>
                        </tr>
                        </tbody>
                    </table>
                    <div th:if="${page.finish >= 0}" class="col-xs-12">
                        <ul class="pagination">
                            <li th:class="${page.first} ? 'disabled':''" style="display:inline">
                                <span th:if="${page.first}">&laquo;</span>
                                <a th:if="${not page.first}" href="javascript:void(0)"
                                   th:onclick="'changePage(' + 0 + ', ' + ${page.size} + ')'">&laquo;</a>
                            </li>
                            <li th:each="i : ${#numbers.sequence(page.start, page.finish)}"
                                th:class="(${i}==${page.number})? 'active' : ''" style="display:inline">
                                <span th:if='${i}==${page.number}' th:text='${i+1}'>1</span>
                                <a th:if='${i}!=${page.number}'
                                   th:onclick="@{'changePage(' + ${i} + ' , ' + ${page.size} + ')'}"
                                   href="javascript:void(0)">
                                    <span th:text='${i+1}'>1</span>
                                </a>
                            </li>
                            <li th:class="${page.last} ? 'disabled':''" style="display:inline">
                                <span th:if="${page.last}">&raquo;</span>
                                <a th:if="${not page.last}"
                                   href="javascript:void(0)"
                                   th:onclick="'changePage(' + (${page.totalPages}-1) + ', ' + ${page.size} + ')'">&raquo;</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div th:if="${selectedClient != null}" id="details" class="panel panel-default">
                <div class="panel-heading">
                    <span th:text="#{captions.clients.overview_panel.heading}">Информация о контрагенте</span>
                </div>

                <div class="panel-body">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label" th:text="#{captions.fields.last_name}">Фамилия</label>
                            <div id="clientLastName" class="form-controll"
                                 th:text="${selectedClient.lastName}"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" th:text="#{captions.fields.first_name}">Имя</label>
                            <div id="clientFirstName" class="form-controll"
                                 th:text="${selectedClient.firstName}"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" th:text="#{captions.fields.sur_name}">Отчество</label>
                            <div id="clientSurName" class="form-controll"
                                 th:text="${selectedClient.surName}"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" th:text="#{captions.fields.passport}">Паспорт</label>
                            <div id="clientPassport" class="form-controll"
                                 th:text="${selectedClient.passport}"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" th:text="#{captions.fields.phone}">Телефон</label>
                            <div id="clientPhone" class="form-controll"
                                 th:text="${selectedClient.phone}"></div>
                        </div>

                        <div class="text-right">
                            <ul class="list-inline">
                                <li><a th:href="@{'/clients/edit/' + ${selectedClient.id}}" href="#"><span
                                        th:text="#{captions.edit}">Изменить</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>


            </div>
        </div>

        <div th:if="${!flatsList.empty}" class="col-md-4">
            <div id="listFlats" class="panel panel-default">
                <div class="panel-heading">
                    <span th:text="#{captions.clients.flat_list_panel_heading}">Список квартир</span>
                </div>

                <div class="panel-body">
                    <div class="col-md-12">
                        <table class="table">
                            <thead>

                            </thead>
                            <tbody>
                            <tr th:each="flat, row : ${flatsList}">

                                <td>
                                    <span class="label"
                                          th:classappend="(${!flat.available})?'label-success':'label-info'">
                                            <i th:if="${!flat.available}" class="fa fa-check" aria-hidden="true"></i>
                                            <i th:if="${flat.reserved}" class="fa fa-bell-o" aria-hidden="true"></i>
                                     </span>

                                </td>
                                <td >
                                    <span class="label"
                                          th:classappend="(${#strings.toString(flat.typeTrade) == 'RENT'}) ? 'label-warning':'label-danger'"
                                          th:text="${flat.typeTrade}">

                                    </span>
                                </td>
                                <td>
                                    <a href="#"
                                       th:href="@{'/contracts/'+ ${#strings.toLowerCase(flat.typeTrade)} +'/overview/' + ${flat.id}}">
                                        <span th:text="${flat.address}">Адрес</span>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

</html>
